* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 223, 223);
  max-width: 90vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

.conteiner {
  width: 500px;
  border: 1px solid #000;
  box-shadow: 0 20px 30px rgb(0 0 0 / 0.3);
  background-color: #fff;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(./zasoby/pistachios-3450670_1280.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 200px;
}

.label__elements {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  font-family: "Dancing Script", cursive;
}

.input {
  margin-top: 12px;
  width: 100%;
  opacity: 0.8;
  height: 26px;
}

.list {
  margin: 30px 20px;
}

.ul {
  list-style: none;
  line-height: 2;
  margin-top: 16px;
}

.ul__drink {
  border-bottom: 1px solid rgb(197, 230, 235);
  margin-left: 20px;
}

.hidden {
  display: none;
}
